<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

    <!--<connectionStrings>
        <add name="TimeTrackingConnectionString" 
             connectionString="Data Source=.\SQLEXPRESS2017;Initial Catalog=TimeTracking;Integrated Security=true"
            providerName="System.Data.SqlClient" />
        <add name="TimeTrackingEntities" connectionString="metadata=res://*/TimeTrackingEntities.csdl|res://*/TimeTrackingEntities.ssdl|res://*/TimeTrackingEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DGEORGIEVA\SQLEXPRESS2017;initial catalog=TimeTracking;MultipleActiveResultSets=True;App=EntityFrameworkIntegrated Security=true"
            providerName="System.Data.EntityClient" />
        --><!--<add name="TimeTrackingApp.Properties.Settings.TimeTrackingConnectionString"
            connectionString="Data Source=DGEORGIEVA\SQLEXPRESS2017;Initial Catalog=TimeTracking;User ID=sa"
            providerName="System.Data.SqlClient" />--><!--
      --><!--config for personal pc --><!--
        --><!--<add name="TimeTrackingApp.Properties.Settings.TimeTrackingConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TimeTracking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
            <add name="TimeTrackingEntities" connectionString="metadata=res://*/TimeTrackingEntities.csdl|res://*/TimeTrackingEntities.ssdl|res://*/TimeTrackingEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TimeTracking;MultipleActiveResultSets=True;App=EntityFramework"
            providerName="System.Data.EntityClient" />--><!--
    </connectionStrings>-->
  

<connectionStrings><add name="TimeTrackingEntities" connectionString="metadata=res://*/Model.TTModel.csdl|res://*/Model.TTModel.ssdl|res://*/Model.TTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2017;initial catalog=TimeTracking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>