################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeTrackingApp/bin
/TimeTrackingApp/obj
/TimeTrackingApp/DB/TimeTracking.mdf
/TimeTrackingApp/DB/TimeTracking_log.ldf
/.vs/TimeTrackingApp/v15
